.header {
    width: 100%;
    height: 124px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

/* *Logo */
.header nav .logo {
    display: flex;
    font-size: 2em;
    font-weight: 600;
    color: var(--primary-color-500);
}

/** Search */
.header nav .search {
    flex-basis: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Search input */
.header nav .search .search__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--secondary-color-300);
    border-radius: 50px;
    padding: 0 60px;
    font-weight: 500;
}
.header nav .search .search__input::placeholder {
    color: var(--secondary-color-300);
}
/* Search icon */
.header nav .search .search__icon {
    position: absolute;
    left: 20px;
    color: var(--secondary-color-300);
}
/* Filter icon */
.header nav .search .search__filter {
    position: absolute;
    right: 20px;
    color: var(--secondary-color-300);
}

/** Profile menu */
.header nav .profile-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}
/* Profile menu item */
.header nav .profile-menu .profile__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color-100);
    border: 1px solid var(--secondary-color-100);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

/** Search mobile */
.header nav .search-mobile {
    flex-basis: 100%;
    gap: 20px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
}
/* Search input */
.header nav .search-mobile .search__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--secondary-color-300);
    border-radius: 8px;
    padding: 0 60px;
    font-weight: 500;
}
.header nav .search-mobile .search__input::placeholder {
    color: var(--secondary-color-300);
}
/* Search icon */
.header nav .search-mobile .search__icon {
    position: absolute;
    left: 20px;
    color: var(--secondary-color-300);
}
/* Filter icon */
.header nav .search-mobile .search__filter {
    margin-left: auto;
    color: var(--secondary-color-300);
    border-radius: 5px;
    padding: 8px;
    border: 1px solid var(--secondary-color-300);
}


@media screen and (max-width: 768px) {
    .header nav {
        flex-flow: wrap;
    }
    .header nav .search {
        display: none;
    }
    .header nav .search-mobile {
        display: flex;
    }
    .header nav .logo {
        flex-basis: 48%;
    }

    /* Profile menu item */
    .header nav .profile-menu .profile__item {
        display: none;
    }
    .header nav .profile-menu .profile__avatar-item {
        display: flex;
    }
}